.add-user-btn {
    animation: fadeIn 1s ease-in-out;
    transition: transform 0.3s ease-in-out;
  }
  
  .add-user-btn:hover {
    transform: scale(1.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }


